@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 29 65% 98%;
      --foreground: 29 74% 2%;
      --muted: 209 13% 95%;
      --muted-foreground: 209 12% 37%;
      --popover: 29 65% 98%;
      --popover-foreground: 29 74% 2%;
      --card: 29 65% 98%;
      --card-foreground: 29 74% 2%;
      --border: 29 7% 92%;
      --input: 29 7% 92%;
      --primary: 29 100% 55%;
      --primary-foreground: 0 0% 0%;
      --secondary: 209 100% 55%;
      --secondary-foreground: 0 0% 100%;
      --accent: 209 100% 55%;
      --accent-foreground: 0 0% 100%;
      --destructive: 18 94% 38%;
      --destructive-foreground: 0 0% 100%;
      --ring: 29 100% 55%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 29 59% 2%;
      --foreground: 29 17% 100%;
      --muted: 209 13% 5%;
      --muted-foreground: 209 12% 63%;
      --popover: 29 59% 2%;
      --popover-foreground: 29 17% 100%;
      --card: 29 59% 2%;
      --card-foreground: 29 17% 100%;
      --border: 29 7% 14%;
      --input: 29 7% 14%;
      --primary: 29 100% 55%;
      --primary-foreground: 0 0% 0%;
      --secondary: 209 100% 55%;
      --secondary-foreground: 0 0% 100%;
      --accent: 209 100% 55%;
      --accent-foreground: 0 0% 100%;
      --destructive: 18 94% 60%;
      --destructive-foreground: 0 0% 0%;
      --ring: 29 100% 55%;
    }
  }
  
  
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

::selection {
  background-color: rgba(249, 116, 22, 0.80);
  color: #ffffff;
}